.contact-form {
    width: 100%;
    margin-top: 20px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 1px solid #ef3d5b;
      border-radius: 3px;
      background: #3a475086;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }
    input::placeholder {
      color: #fff;
      font-family: 'Mulish',sans-serif;
      font-weight: 500;
    }
  
    textarea {
      width: 100%;
      border: 0;
      background: #3a475086;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
      border: 1px solid #ef3d5b;
      border-radius: 3px;
    }
    textarea::placeholder {
      color: #fff; 
      font-family: 'Mulish',sans-serif;
      font-weight: 500;
    }  
  
    .flat-button {
      color: #61BFD3;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 10px 12px;
      border: 1px solid #61BFD3;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
    }
    .flat-button:hover {
     background-color: #ef3d5b; 
     cursor: pointer; 
    }
  }
  

  .info-map {
    font-family: 'Mulish',sans-serif;
    position: absolute;
    background: #314e5a9f;
    top: 20%;
    right:18%;
    z-index: 999999;
    width: 230px;
    padding: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
    border-radius: 3px;
    span {
      font-size: 16px;
      color: #61BFD3;
     
    }
  }

  .map-wrap {
    background: #222831;
    float: right;
    width: 53%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .map-contact{
    margin-top: 50px;
    width: 75%;
  }

  @media screen and (max-width: 1200px) { 

   .map-wrap{
    float: none;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   }

   .info-map { 
    display: none;
   }

  }

    @media screen and (max-width: 800px) {
      h1 {
        left: 0 !important;
        margin-bottom: 20px !important;
      }
  
      span {
        font-size: 41px;
      }
  
      .map-contact {
        margin-top: 0px;
      }
    }